{% extends "blog/base.html" %}

{% block content %}

<h3>
  Zaloguj się
</h3>

{% if errors %}
   {{ errors.username }}
{% endif %}
<form action="{% url 'blog:login' %}" method="POST">
  {% csrf_token %}
  {{form.hidden_tag}}
   <div class="form-group">
       <label for="title">Login</label>
       {% if errors and errors.username %}
           {{ form.username }}
       {% else %}
           {{ form.username }}
       {% endif %}

   </div>
   <div class="form-group">
       <label for="body">Hasło</label>

       {% if errors and errors.password %}
           {{ form.password }}
       {% else %}
           {{ form.password }}
       {% endif %}

   </div>
   <button type="submit" class="btn btn-primary mt-5">Zaloguj</button>
</form>

{% endblock %}
